.header {
    padding-top: 26px;
    padding-bottom: 13px;
    background-color: var(--warm-white-50);
    position: sticky;
    top: -13px;
    z-index: 3;

    .navbar {
        display: flex;
        align-items: center;
    }

    .menu {
        display: flex;
        gap: 36px;
        margin-left: 229px;
    }

    .link {
        color: var(--blue-purple-600);
        font-size: 1.4rem;
        font-weight: 600;
        line-height: 1;
        transition: color 400ms;

        &:hover {
            color: var(--deep-blue-900);
        }
    }

    .signup-btn {
        margin-left: auto;
        padding: 17px 31px;
        border-radius: 25px;
        border-color: rgba($color: #000958, $alpha: 0.7);
        font-size: 1.4rem;
        font-weight: 600;
        color: var(--deep-blue-900);
        box-shadow: none;

        &:hover {
            border-color: var(--deep-blue-900);
            background-color: var(--deep-blue-900);
            color: var(--white);
        }
    }
}

.hero {
    padding-top: 163px;
    padding-bottom: 77px;
    background-color: var(--warm-white-50);

    .container {
        display: flex;
        gap: 120px;
    }

    .media {
        display: flex;
        position: relative;
    }

    .thumb {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        width: 388px;
        height: 488px;
        border-radius: 16px;
        border: 3px solid #fff;
        background: linear-gradient(180deg, #ffa78d 0%, #ff8c60 100%);
        box-shadow: 11px 18px 65px 0px rgba(255, 155, 121, 0.12);
        overflow: hidden;
        position: relative;
        z-index: 1;
    }

    .thumb-small {
        margin-top: 302px;
        margin-left: -23px;
        width: 186px;
        height: 244px;
        border-radius: 16px;
        border: 2px solid rgba(255, 255, 255, 0.65);
        background: linear-gradient(206deg, #faa7ad 4.68%, #e87f8a 98.09%);
        box-shadow: 8px 18px 36px -6px rgba(234, 148, 157, 0.17);
    }

    .decor {
        position: absolute;

        &-left {
            bottom: 67px;
            left: -58px;
            z-index: 0;
        }

        &-right {
            top: 16px;
            left: 377px;
        }
    }

    .title {
        margin-top: 71px;
        margin-bottom: 24px;
    }

    .act {
        margin-top: 38px;
    }

    .hero-btn {
        color: var(--white);
        font-weight: 600;
        padding: 21px 44px;
        background-color: var(--orange-red-500);
        position: relative;

        span {
            display: inline-block;
            transition: all 400ms;
        }

        .icon {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background-color: var(--white);
            opacity: 0;
            visibility: hidden;
            position: absolute;
            top: 50%;
            right: 40px;
            transform: translateY(-50%);
            transition: all 400ms;
        }

        &:hover {
            span {
                transform: translateX(-15px);
            }

            .icon {
                opacity: 1;
                visibility: visible;
                right: 25px;
            }
        }
    }

    .call-btn {
        margin-left: 24px;
        color: var(--deep-blue-900);
        font-weight: 500;
        line-height: 1;
        text-decoration-line: underline;
        text-decoration-style: solid;
        text-decoration-skip-ink: none;
        text-decoration-thickness: auto;
        text-underline-offset: auto;
        text-underline-position: from-font;
    }

    .card {
        position: absolute;
        bottom: -36px;
        left: 129px;
        z-index: 1;

        .card-inner {
            padding: 18px 14px;
            border-radius: 10px;
            background-color: #ffffff;
            box-shadow: -17px 14px 68px -4px rgba(207, 174, 132, 0.25);
        }

        .thumb {
            width: 40px;
            height: 40px;
            border-radius: 10px;
            background: var(--bg-color);
            border: none;
        }

        .row {
            display: flex;
            align-items: center;
            gap: 10px;
        }

        .card-title {
            color: var(--indigo-900);
            font-family: 'Sora';
            font-size: 1.4rem;
            font-weight: 600;
            line-height: 1;
        }

        .line {
            margin: 4px 0;
            width: 118px;
            height: 4px;
            border-radius: 10px;
            opacity: 0.08;
            background: var(--deep-blue-900);

            &-short {
                margin: 0;
                width: 39px;
            }
        }

        .separate {
            width: 222px;
            height: 2px;
            background: #f2f2f2;
            margin-top: 20px;
            margin-bottom: 20px;
        }
    }
}

.about {
    padding-top: 53px;
    background-color: var(--warm-white-50);

    .container {
        display: flex;
        gap: 108px;
    }

    .content {
        width: 40%;
    }

    .sub-title {
        margin-top: 69px;
        margin-bottom: 15px;
        color: var(--blue-purple-600);
        font-family: 'Sora';
        font-weight: 600;
        line-height: 1;
    }

    .desc {
        margin-top: 24px;
        margin-bottom: 54px;
    }

    .check-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 24px);
        gap: 34px 36px;
        align-items: center;

        .item {
            margin-left: 34px;
            color: var(--indigo-600);
            font-size: 1.8rem;
            font-weight: 500;
            line-height: 1;
            white-space: nowrap;
            position: relative;

            &::before {
                content: '';
                display: inline-block;
                width: 24px;
                height: 24px;
                border-radius: 4px;
                background-color: #ff5d31;
                position: absolute;
                top: 50%;
                left: -34px;
                transform: translateY(-50%);
            }

            &::after {
                content: url(../icons/check.svg);
                position: absolute;
                left: -29px;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }

    .media {
        position: relative;
    }

    .thumb {
        margin-top: 223px;
        margin-left: 92px;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        width: 494px;
        height: 336px;
        border-radius: 16px;
        background: linear-gradient(180deg, #fce0ef 0%, #fac3d1 100%);
        box-shadow: 11px 18px 65px 0px rgba(255, 155, 121, 0.12);
        position: relative;
        z-index: 1;
    }

    .decor {
        position: absolute;
        left: 503px;
        bottom: 307px;
        z-index: 0;
    }

    .card {
        position: absolute;
        left: 0;
        bottom: 238px;
        z-index: 1;
    }

    .card-inner {
        padding: 31px 26px 29px;
        border-radius: 10px;
        background: #5bd6e2;
        box-shadow: -15px 26px 48px 0px rgba(85, 240, 255, 0.17);
        position: relative;
    }

    .card-title {
        color: #fff;
        font-family: 'Sora';
        font-size: 4.2rem;
        font-weight: 700;
        line-height: 1;
    }

    .card-desc {
        margin-top: 14px;
        text-align: center;
        width: 83px;
        color: #c6f4f9;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.4;
    }

    .icon {
        position: absolute;
        left: 105px;
        top: -23px;
    }
}

.feature {
    padding-top: 146px;
    padding-bottom: 185px;
    background-color: var(--warm-white-50);

    .container {
        display: flex;
        gap: 127px;
    }

    .media {
        position: relative;
    }

    .thumb {
        width: 458px;
        height: 500px;
        border-radius: 18px;
        border: 2px solid #fff;
        background: linear-gradient(180deg, #c6e2fa 0%, #94c2ea 100%);
        box-shadow: 0px 17px 77px -8px rgba(190, 165, 139, 0.17);
    }

    .decor {
        position: absolute;
    }

    .title {
        margin-top: 36px;
        margin-bottom: 24px;
    }

    .tab-bar {
        display: flex;
        align-self: center;
        gap: 56px;
        margin-top: 52px;
        position: relative;

        &::after {
            content: '';
            display: inline-block;
            width: 565px;
            height: 2px;
            opacity: 0.07;
            background-color: #ff5b2e;
            position: absolute;
            left: 0;
            bottom: -14px;
        }
    }

    .tab-item {
        display: flex;
        align-items: center;
        gap: 10px;
        color: #48496a;
        font-family: 'Sora';
        font-size: 1.8rem;
        font-weight: 600;
        line-height: 1;
        white-space: nowrap;
        position: relative;
    }

    .underline {
        width: 95px;
        height: 2px;
        background-color: #ff5b2e;
        position: absolute;
        left: 0;
        bottom: -14px;
        opacity: 0;
        visibility: hidden;
        transition: all 400ms;
    }

    .active .underline {
        opacity: 1;
        visibility: visible;
    }

    .pet-service {
        margin-top: 50px;
        margin-bottom: 32px;
        width: 391px;
        color: #656689;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 24px;
        display: none;
    }

    .pet-service.active {
        display: block;
    }

    .service-btn {
        color: #ff5d31;
        font-weight: 500;
        line-height: 1;
        position: relative;

        &::after {
            content: '';
            display: inline-block;
            width: 86px;
            height: 1.5px;
            background-color: #ff5d31;
            position: absolute;
            left: 0;
            bottom: 0;
            opacity: 0;
            visibility: hidden;
            transition: all 400ms;
        }

        &:hover::after {
            opacity: 1;
            visibility: visible;
        }
    }
}

.service {
    padding-top: 68px;
    padding-bottom: 100px;
    background-color: #fff6ed;

    .heading {
        text-align: center;
    }

    .row {
        display: flex;
        gap: 86px;
        margin-top: 71px;
    }

    .card {
        width: 294px;
        border-radius: 10px;
        border: 2px solid rgba(255, 188, 122, 0.26);
        background-color: #fff;
        margin-bottom: 24px;
    }

    .card-inner {
        padding: 30px 22px 28px;
    }

    .card-title {
        margin-left: 14px;
        color: #000958;
        font-family: 'Sora';
        font-size: 2.2rem;
        font-weight: 600;
        line-height: 1;
        position: relative;

        &::before {
            content: '';
            display: inline-block;
            width: 2px;
            height: 22px;
            background: linear-gradient(90deg, #ff5b2e 0.39%, #ffa187 100.29%);
            position: absolute;
            left: -14px;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    .sub-title {
        margin-bottom: 15px;
        color: #5e6085;
        font-family: 'Sora';
        font-weight: 600;
        line-height: 1;
    }

    .card-desc {
        margin-top: 18px;
        margin-bottom: 24px;
        color: #656689;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 24px;
    }

    .card-link {
        color: #34396a;
        font-family: 'Sora';
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 1;
        position: relative;

        &::after {
            content: url(../icons/arrow-up-right.svg);
            position: absolute;
            top: 50%;
            right: -18px;
            transform: translateY(-50%);
        }
    }

    .thumb {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        margin-top: 260px;
        width: 410px;
        height: 350px;
        border-radius: 10px;
        background: linear-gradient(180deg, #9df1fb 0%, #73d0db 108.14%);
    }

    .service-btn {
        margin-top: 45px;
        padding: 20px 40px;
    }
}

.team {
    padding-top: 130px;
    padding-bottom: 130px;
    background-color: #fffaf5;
    text-align: center;

    .heading {
        text-align: center;
    }

    .sub-title {
        margin-bottom: 15px;
        color: #5e6085;
        font-family: 'Sora';
        font-weight: 600;
        line-height: 1;
    }

    .list-teams {
        display: flex;
        gap: 68px;
        margin-top: 59px;
    }

    .team-member {
        text-align: center;
    }

    .avatar {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        width: 234px;
        height: 266px;
        border-radius: 129.5px;
        position: relative;

        img {
            border-radius: inherit;
        }

        svg {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    .job {
        margin-top: 29px;
        margin-bottom: 14px;
        color: #656689;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1;
    }

    .name {
        color: #000958;
        font-family: 'Sora';
        font-size: 2.2rem;
        font-weight: 600;
        line-height: 1;
    }

    .team-btn {
        margin-top: 48px;
        padding: 20px 40px;
    }
}

.pricing {
    padding-top: 86px;
    padding-bottom: 86px;
    background-color: #fff6ed;

    .heading {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 24px;
    }

    .desc {
        text-align: center;
        width: 709px;
    }

    .switch {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 38px;
        width: 276px;
        height: 56px;
        border-radius: 31px;
        border: 1px solid rgba($color: #ff5b2e, $alpha: 0.6);
        position: relative;
    }

    .switch-btn {
        color: #ff5b2e;
        font-weight: 500;
        line-height: 1;
        padding: 20px 40px;
        position: relative;
        z-index: 2;
        transition: all 400ms;
    }

    .switch-btn.active {
        color: #fff;
    }

    .slider {
        width: 131px;
        height: 56px;
        border-radius: 31px;
        background: #ff5b2e;
        position: absolute;
        top: 0;
        left: 145px;
        z-index: 1;
        transition: all 400ms;
    }

    .icon {
        position: absolute;
        bottom: 29px;
        right: -112px;
    }

    .list-packages {
        display: flex;
        gap: 44px;
        margin-top: 56px;
    }

    .package {
        border-radius: 20px;
        background-color: #fff;
        transition: all 400ms;

        &:hover {
            box-shadow: 0px 20px 44px 0px rgba(195, 108, 22, 0.06);
        }

        &-inner {
            padding: 30px 28px 28px 43px;
        }

        .list > li {
            display: flex;
            align-items: center;
            gap: 12px;
            margin-bottom: 18px;
        }

        .list p {
            color: #656689;
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 1;
        }

        .package-btn {
            margin: 22px 0 24px;
            padding: 14px 65px;
            box-shadow: none;
        }

        .package-type {
            color: #ff5b2e;
            font-size: 1.2rem;
            font-weight: 400;
            line-height: 1;
        }

        .package-name {
            margin-top: 8px;
            margin-bottom: 24px;
            color: #3f4065;
            font-family: 'Sora';
            font-size: 1.8rem;
            font-weight: 600;
            line-height: 1;
        }

        .package-price {
            color: #000958;
            font-family: 'Sora';
            font-size: 3.4rem;
            font-weight: 700;
            line-height: 1;
        }
    }
}

.review {
    padding-top: 130px;
    padding-bottom: 130px;
    background-color: #fffaf5;

    .container .row,
    .review-content {
        display: flex;
        align-items: center;
    }

    .review-content {
        margin-left: 44px;
        margin-right: 76px;
        gap: 115px;
    }

    .avatar {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        width: 274px;
        height: 350px;
        border-radius: 137px;
        background-color: #ffda54;

        img {
            border-radius: inherit;
        }
    }

    .title {
        margin-bottom: 24px;
    }

    .desc {
        color: #000;
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 28px;
    }

    .name {
        margin-top: 34px;
        margin-left: 28px;
        color: #282828;
        font-family: 'Sora';
        font-size: 1.8rem;
        font-weight: 600;
        line-height: 1;
        position: relative;

        &::before {
            content: '';
            display: inline-block;
            width: 20px;
            height: 2px;
            background-color: #000000;
            position: absolute;
            left: -28px;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    .pagination {
        display: flex;
        justify-content: center;
        gap: 10px;
        margin-top: 56px;

        .page {
            width: 8px;
            height: 8px;
            border-radius: 50%;
            border: solid 1px #ff5b2e;
            transition: all 400ms;
        }

        .active {
            width: 24px;
            border-radius: 4px;
            background-color: #ff5b2e;
        }
    }

    .review-btn {
        flex-shrink: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        border: solid 1.5px #ffd1c4;
        border-radius: 50%;
        width: 54px;
        height: 54px;
        transition: all 400ms;

        img {
            filter: brightness(0) saturate(100%) invert(50%) sepia(37%) saturate(5376%) hue-rotate(342deg) brightness(101%) contrast(101%);
            transition: all 400ms;
        }

        &:hover {
            border-color: #ff5b2e;
            background-color: #ff5b2e;
            box-shadow: 0px 5px 27px 0px #ff5b2e4d;

            img {
                filter: brightness(0) saturate(100%) invert(97%) sepia(13%) saturate(330%) hue-rotate(289deg) brightness(119%) contrast(100%);
            }
        }
    }
}

.blog {
    padding-bottom: 131px;
    background-color: #fffaf5;

    .heading {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 512px;
    }

    .desc {
        width: 350px;
        margin-bottom: 24px;
    }

    .blog-btn {
        padding: 20px 40px;
    }

    .list-blog {
        display: flex;
        gap: 48px;
        margin-top: 54px;
    }

    .blog-item {
        .thumb {
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
            width: 358px;
            height: 362px;
            border-radius: 24px 24px 0 24px;
            position: relative;

            img {
                width: 322px;
                height: 296px;
                object-fit: cover;
            }

            .blog-date {
                color: #fff;
                font-family: 'Sora';
                font-size: 1.4rem;
                font-weight: 400;
                line-height: 17px;
                position: absolute;
                top: 24px;
                left: 36px;
            }
        }

        .blog-title {
            margin-top: 28px;
            margin-bottom: 16px;
            color: #000958;
            font-family: 'Sora';
            font-size: 2.2rem;
            font-weight: 600;
            line-height: 34px;
        }

        .blog-desc {
            color: #656689;
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 24px;
        }
    }
}

.footer {
    padding-bottom: 48px;
    background: rgb(255, 246, 237);
    background: linear-gradient(90deg, rgba(255, 246, 237, 1) 0%, rgba(255, 246, 237, 1) 38%, rgba(255, 250, 245, 1) 38%);

    .footer-inner {
        display: flex;
        gap: 341px;
    }

    .left-side {
        margin-top: 114px;
    }

    form {
        margin-top: 40px;
        position: relative;
    }

    input {
        width: 268px;
        height: 46px;
        border-radius: 23px;
        border: 1px solid rgba(255, 91, 46, 0.25);
        opacity: 0.6;
        background: #fff;
        padding: 16px 22px;
    }

    button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 46px;
        height: 46px;
        border-radius: 50%;
        background-color: #ff5b2e;
        box-shadow: 0px 15px 28px -7px #ff5b2e4d;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        visibility: hidden;
        transition: all 800ms;

        img {
            filter: brightness(0) saturate(100%) invert(97%) sepia(13%) saturate(330%) hue-rotate(289deg) brightness(119%) contrast(100%);
        }
    }

    input:focus + button {
        opacity: 1;
        visibility: visible;
        left: 222px;
    }

    .follow {
        margin-top: 68px;
        color: #000958;
        font-family: 'Sora';
        font-size: 1.8rem;
        font-weight: 600;
        line-height: 20px;
    }

    .social {
        display: flex;
        gap: 16px;
        margin-top: 16px;
    }

    .social-link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 32px;
        height: 32px;
        border-radius: 32px;
        border: 1px solid #fff;
        background-color: #fff;
        box-shadow: 0px 16px 28px -10px rgba(211, 132, 53, 0.33);
        transition: all 400ms;

        &:hover {
            background-color: #e3d4d4;
        }
    }

    .right-side {
        margin-top: 52px;
    }

    .row {
        display: flex;
        margin-bottom: 58px;
    }

    .row:first-child {
        gap: 225px;
    }

    .row:last-child {
        gap: 137px;
    }

    .col-title {
        margin-bottom: 14px;
        color: #000958;
        font-family: 'Sora';
        font-size: 1.8rem;
        font-weight: 600;
        line-height: 20px;
    }

    .link,
    .contact,
    .time {
        color: #656689;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 28px;
    }

    .copyright {
        text-align: center;
        color: #656689;
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 14px;
        opacity: 0.6;
    }
}
