$base-font-size: 1.6rem !default;
$primary-font: 'Poppins', sans-serif !default;
$primary-text-color: #656689 !default;
$heading-font: 'Sora' !default;
$heading-color: #000958 !default;

:root {
    --white: #ffffff;
    --warm-white-50: #fffaf5;
    --blue-purple-600: #5e6085;
    --deep-blue-900: #000958;
    --orange-red-500: #ff5b2e;
    --indigo-900: #181e52;
}

*,
::before,
::after {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: $primary-font;
    color: $primary-text-color;
    font-size: $base-font-size;
}

h1 {
    font-family: $heading-font;
    color: $heading-color;
    font-size: 6.6rem;
    font-weight: 800;
    line-height: 1.15;
}

h2 {
    font-family: $heading-font;
    color: $heading-color;
    font-size: 5.2rem;
    font-weight: 700;
    line-height: 1.2;
}

p {
    font-weight: 400;
    line-height: 1.875;
}

a {
    text-decoration: none;
}

button,
input {
    border: none;
    outline: none;
    background-color: transparent;
}

.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}
