/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  --white: #ffffff;
  --warm-white-50: #fffaf5;
  --blue-purple-600: #5e6085;
  --deep-blue-900: #000958;
  --orange-red-500: #ff5b2e;
  --indigo-600: #48496a;
  --indigo-900: #181e52;
}

*,
::before,
::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  color: #656689;
  font-size: 1.6rem;
}

h1 {
  font-family: "Sora";
  color: #000958;
  font-size: 6.6rem;
  font-weight: 800;
  line-height: 1.15;
}

h2 {
  font-family: "Sora";
  color: #000958;
  font-size: 5.2rem;
  font-weight: 700;
  line-height: 1.2;
}

p {
  font-weight: 400;
  line-height: 1.875;
}

a {
  text-decoration: none;
}

button,
input {
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  background-color: transparent;
  font-family: inherit;
}

button {
  cursor: pointer;
}

.container {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}

.btn-primary {
  display: inline-block;
  border-radius: 31px;
  border: 1px solid rgba(255, 91, 46, 0.6);
  box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
  color: var(--orange-red-500);
  font-weight: 500;
  line-height: 1;
  transition: all 400ms;
}
.btn-primary:hover {
  background-color: var(--orange-red-500);
  border-color: var(--orange-red-500);
  color: var(--white);
}

.header {
  padding-top: 26px;
  padding-bottom: 13px;
  background-color: var(--warm-white-50);
  position: sticky;
  top: -13px;
  z-index: 3;
}
.header .navbar {
  display: flex;
  align-items: center;
}
.header .menu {
  display: flex;
  gap: 36px;
  margin-left: 229px;
}
.header .link {
  color: var(--blue-purple-600);
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1;
  transition: color 400ms;
}
.header .link:hover {
  color: var(--deep-blue-900);
}
.header .signup-btn {
  margin-left: auto;
  padding: 17px 31px;
  border-radius: 25px;
  border-color: rgba(0, 9, 88, 0.7);
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--deep-blue-900);
  box-shadow: none;
}
.header .signup-btn:hover {
  border-color: var(--deep-blue-900);
  background-color: var(--deep-blue-900);
  color: var(--white);
}

.hero {
  padding-top: 163px;
  padding-bottom: 77px;
  background-color: var(--warm-white-50);
}
.hero .container {
  display: flex;
  gap: 120px;
}
.hero .media {
  display: flex;
  position: relative;
}
.hero .thumb {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 388px;
  height: 488px;
  border-radius: 16px;
  border: 3px solid #fff;
  background: linear-gradient(180deg, #ffa78d 0%, #ff8c60 100%);
  box-shadow: 11px 18px 65px 0px rgba(255, 155, 121, 0.12);
  overflow: hidden;
  position: relative;
  z-index: 1;
}
.hero .thumb-small {
  margin-top: 302px;
  margin-left: -23px;
  width: 186px;
  height: 244px;
  border-radius: 16px;
  border: 2px solid rgba(255, 255, 255, 0.65);
  background: linear-gradient(206deg, #faa7ad 4.68%, #e87f8a 98.09%);
  box-shadow: 8px 18px 36px -6px rgba(234, 148, 157, 0.17);
}
.hero .decor {
  position: absolute;
}
.hero .decor-left {
  bottom: 67px;
  left: -58px;
  z-index: 0;
}
.hero .decor-right {
  top: 16px;
  left: 377px;
}
.hero .title {
  margin-top: 71px;
  margin-bottom: 24px;
}
.hero .act {
  margin-top: 38px;
}
.hero .hero-btn {
  color: var(--white);
  font-weight: 600;
  padding: 21px 44px;
  background-color: var(--orange-red-500);
  position: relative;
}
.hero .hero-btn span {
  display: inline-block;
  transition: all 400ms;
}
.hero .hero-btn .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--white);
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 50%;
  right: 40px;
  transform: translateY(-50%);
  transition: all 400ms;
}
.hero .hero-btn:hover span {
  transform: translateX(-15px);
}
.hero .hero-btn:hover .icon {
  opacity: 1;
  visibility: visible;
  right: 25px;
}
.hero .call-btn {
  margin-left: 24px;
  color: var(--deep-blue-900);
  font-weight: 500;
  line-height: 1;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
}
.hero .card {
  position: absolute;
  bottom: -36px;
  left: 129px;
  z-index: 1;
}
.hero .card .card-inner {
  padding: 18px 14px;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: -17px 14px 68px -4px rgba(207, 174, 132, 0.25);
}
.hero .card .thumb {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  background: var(--bg-color);
  border: none;
}
.hero .card .row {
  display: flex;
  align-items: center;
  gap: 10px;
}
.hero .card .card-title {
  color: var(--indigo-900);
  font-family: "Sora";
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1;
}
.hero .card .line {
  margin: 4px 0;
  width: 118px;
  height: 4px;
  border-radius: 10px;
  opacity: 0.08;
  background: var(--deep-blue-900);
}
.hero .card .line-short {
  margin: 0;
  width: 39px;
}
.hero .card .separate {
  width: 222px;
  height: 2px;
  background: #f2f2f2;
  margin-top: 20px;
  margin-bottom: 20px;
}

.about {
  padding-top: 53px;
  background-color: var(--warm-white-50);
}
.about .container {
  display: flex;
  gap: 108px;
}
.about .content {
  width: 40%;
}
.about .sub-title {
  margin-top: 69px;
  margin-bottom: 15px;
  color: var(--blue-purple-600);
  font-family: "Sora";
  font-weight: 600;
  line-height: 1;
}
.about .desc {
  margin-top: 24px;
  margin-bottom: 54px;
}
.about .check-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 24px);
  gap: 34px 36px;
  align-items: center;
}
.about .check-list .item {
  margin-left: 34px;
  color: var(--indigo-600);
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1;
  white-space: nowrap;
  position: relative;
}
.about .check-list .item::before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 4px;
  background-color: #ff5d31;
  position: absolute;
  top: 50%;
  left: -34px;
  transform: translateY(-50%);
}
.about .check-list .item::after {
  content: url(../icons/check.svg);
  position: absolute;
  left: -29px;
  top: 50%;
  transform: translateY(-50%);
}
.about .media {
  position: relative;
}
.about .thumb {
  margin-top: 223px;
  margin-left: 92px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 494px;
  height: 336px;
  border-radius: 16px;
  background: linear-gradient(180deg, #fce0ef 0%, #fac3d1 100%);
  box-shadow: 11px 18px 65px 0px rgba(255, 155, 121, 0.12);
  position: relative;
  z-index: 1;
}
.about .decor {
  position: absolute;
  left: 503px;
  bottom: 307px;
  z-index: 0;
}
.about .card {
  position: absolute;
  left: 0;
  bottom: 238px;
  z-index: 1;
}
.about .card-inner {
  padding: 31px 26px 29px;
  border-radius: 10px;
  background: #5bd6e2;
  box-shadow: -15px 26px 48px 0px rgba(85, 240, 255, 0.17);
  position: relative;
}
.about .card-title {
  color: #fff;
  font-family: "Sora";
  font-size: 4.2rem;
  font-weight: 700;
  line-height: 1;
}
.about .card-desc {
  margin-top: 14px;
  text-align: center;
  width: 83px;
  color: #c6f4f9;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.4;
}
.about .icon {
  position: absolute;
  left: 105px;
  top: -23px;
}

.feature {
  padding-top: 146px;
  padding-bottom: 185px;
  background-color: var(--warm-white-50);
}
.feature .container {
  display: flex;
  gap: 127px;
}
.feature .media {
  position: relative;
}
.feature .thumb {
  width: 458px;
  height: 500px;
  border-radius: 18px;
  border: 2px solid #fff;
  background: linear-gradient(180deg, #c6e2fa 0%, #94c2ea 100%);
  box-shadow: 0px 17px 77px -8px rgba(190, 165, 139, 0.17);
}
.feature .decor {
  position: absolute;
}
.feature .title {
  margin-top: 36px;
  margin-bottom: 24px;
}
.feature .tab-bar {
  display: flex;
  align-self: center;
  gap: 56px;
  margin-top: 52px;
  position: relative;
}
.feature .tab-bar::after {
  content: "";
  display: inline-block;
  width: 565px;
  height: 2px;
  opacity: 0.07;
  background-color: #ff5b2e;
  position: absolute;
  left: 0;
  bottom: -14px;
}
.feature .tab-item {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #48496a;
  font-family: "Sora";
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1;
  white-space: nowrap;
  position: relative;
}
.feature .underline {
  width: 95px;
  height: 2px;
  background-color: #ff5b2e;
  position: absolute;
  left: 0;
  bottom: -14px;
  opacity: 0;
  visibility: hidden;
  transition: all 400ms;
}
.feature .active .underline {
  opacity: 1;
  visibility: visible;
}
.feature .pet-service {
  margin-top: 50px;
  margin-bottom: 32px;
  width: 391px;
  color: #656689;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 24px;
  display: none;
}
.feature .pet-service.active {
  display: block;
}
.feature .service-btn {
  color: #ff5d31;
  font-weight: 500;
  line-height: 1;
  position: relative;
}
.feature .service-btn::after {
  content: "";
  display: inline-block;
  width: 86px;
  height: 1.5px;
  background-color: #ff5d31;
  position: absolute;
  left: 0;
  bottom: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 400ms;
}
.feature .service-btn:hover::after {
  opacity: 1;
  visibility: visible;
}

.service {
  padding-top: 68px;
  padding-bottom: 100px;
  background-color: #fff6ed;
}
.service .heading {
  text-align: center;
}
.service .row {
  display: flex;
  gap: 86px;
  margin-top: 71px;
}
.service .card {
  width: 294px;
  border-radius: 10px;
  border: 2px solid rgba(255, 188, 122, 0.26);
  background-color: #fff;
  margin-bottom: 24px;
}
.service .card-inner {
  padding: 30px 22px 28px;
}
.service .card-title {
  margin-left: 14px;
  color: #000958;
  font-family: "Sora";
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1;
  position: relative;
}
.service .card-title::before {
  content: "";
  display: inline-block;
  width: 2px;
  height: 22px;
  background: linear-gradient(90deg, #ff5b2e 0.39%, #ffa187 100.29%);
  position: absolute;
  left: -14px;
  top: 50%;
  transform: translateY(-50%);
}
.service .sub-title {
  margin-bottom: 15px;
  color: #5e6085;
  font-family: "Sora";
  font-weight: 600;
  line-height: 1;
}
.service .card-desc {
  margin-top: 18px;
  margin-bottom: 24px;
  color: #656689;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 24px;
}
.service .card-link {
  color: #34396a;
  font-family: "Sora";
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1;
  position: relative;
}
.service .card-link::after {
  content: url(../icons/arrow-up-right.svg);
  position: absolute;
  top: 50%;
  right: -18px;
  transform: translateY(-50%);
}
.service .thumb {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: 260px;
  width: 410px;
  height: 350px;
  border-radius: 10px;
  background: linear-gradient(180deg, #9df1fb 0%, #73d0db 108.14%);
}
.service .service-btn {
  margin-top: 45px;
  padding: 20px 40px;
}

.team {
  padding-top: 130px;
  padding-bottom: 130px;
  background-color: #fffaf5;
  text-align: center;
}
.team .heading {
  text-align: center;
}
.team .sub-title {
  margin-bottom: 15px;
  color: #5e6085;
  font-family: "Sora";
  font-weight: 600;
  line-height: 1;
}
.team .list-teams {
  display: flex;
  gap: 68px;
  margin-top: 59px;
}
.team .team-member {
  text-align: center;
}
.team .avatar {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 234px;
  height: 266px;
  border-radius: 129.5px;
  position: relative;
}
.team .avatar img {
  border-radius: inherit;
}
.team .avatar svg {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.team .job {
  margin-top: 29px;
  margin-bottom: 14px;
  color: #656689;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1;
}
.team .name {
  color: #000958;
  font-family: "Sora";
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1;
}
.team .team-btn {
  margin-top: 48px;
  padding: 20px 40px;
}

.pricing {
  padding-top: 86px;
  padding-bottom: 86px;
  background-color: #fff6ed;
}
.pricing .heading {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 24px;
}
.pricing .desc {
  text-align: center;
  width: 709px;
}
.pricing .switch {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 38px;
  width: 276px;
  height: 56px;
  border-radius: 31px;
  border: 1px solid rgba(255, 91, 46, 0.6);
  position: relative;
}
.pricing .switch-btn {
  color: #ff5b2e;
  font-weight: 500;
  line-height: 1;
  padding: 20px 40px;
  position: relative;
  z-index: 2;
  transition: all 400ms;
}
.pricing .switch-btn.active {
  color: #fff;
}
.pricing .slider {
  width: 131px;
  height: 56px;
  border-radius: 31px;
  background: #ff5b2e;
  position: absolute;
  top: 0;
  left: 145px;
  z-index: 1;
  transition: all 400ms;
}
.pricing .icon {
  position: absolute;
  bottom: 29px;
  right: -112px;
}
.pricing .list-packages {
  display: flex;
  gap: 44px;
  margin-top: 56px;
}
.pricing .package {
  border-radius: 20px;
  background-color: #fff;
  transition: all 400ms;
}
.pricing .package:hover {
  box-shadow: 0px 20px 44px 0px rgba(195, 108, 22, 0.06);
}
.pricing .package-inner {
  padding: 30px 28px 28px 43px;
}
.pricing .package .list > li {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 18px;
}
.pricing .package .list p {
  color: #656689;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1;
}
.pricing .package .package-btn {
  margin: 22px 0 24px;
  padding: 14px 65px;
  box-shadow: none;
}
.pricing .package .package-type {
  color: #ff5b2e;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1;
}
.pricing .package .package-name {
  margin-top: 8px;
  margin-bottom: 24px;
  color: #3f4065;
  font-family: "Sora";
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1;
}
.pricing .package .package-price {
  color: #000958;
  font-family: "Sora";
  font-size: 3.4rem;
  font-weight: 700;
  line-height: 1;
}

.review {
  padding-top: 130px;
  padding-bottom: 130px;
  background-color: #fffaf5;
}
.review .container .row,
.review .review-content {
  display: flex;
  align-items: center;
}
.review .review-content {
  margin-left: 44px;
  margin-right: 76px;
  gap: 115px;
}
.review .avatar {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 274px;
  height: 350px;
  border-radius: 137px;
  background-color: #ffda54;
}
.review .avatar img {
  border-radius: inherit;
}
.review .title {
  margin-bottom: 24px;
}
.review .desc {
  color: #000;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 28px;
}
.review .name {
  margin-top: 34px;
  margin-left: 28px;
  color: #282828;
  font-family: "Sora";
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1;
  position: relative;
}
.review .name::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 2px;
  background-color: #000000;
  position: absolute;
  left: -28px;
  top: 50%;
  transform: translateY(-50%);
}
.review .pagination {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 56px;
}
.review .pagination .page {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: solid 1px #ff5b2e;
  transition: all 400ms;
}
.review .pagination .active {
  width: 24px;
  border-radius: 4px;
  background-color: #ff5b2e;
}
.review .review-btn {
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: solid 1.5px #ffd1c4;
  border-radius: 50%;
  width: 54px;
  height: 54px;
  transition: all 400ms;
}
.review .review-btn img {
  filter: brightness(0) saturate(100%) invert(50%) sepia(37%) saturate(5376%) hue-rotate(342deg) brightness(101%) contrast(101%);
  transition: all 400ms;
}
.review .review-btn:hover {
  border-color: #ff5b2e;
  background-color: #ff5b2e;
  box-shadow: 0px 5px 27px 0px rgba(255, 91, 46, 0.3019607843);
}
.review .review-btn:hover img {
  filter: brightness(0) saturate(100%) invert(97%) sepia(13%) saturate(330%) hue-rotate(289deg) brightness(119%) contrast(100%);
}

.blog {
  padding-bottom: 131px;
  background-color: #fffaf5;
}
.blog .heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 512px;
}
.blog .desc {
  width: 350px;
  margin-bottom: 24px;
}
.blog .blog-btn {
  padding: 20px 40px;
}
.blog .list-blog {
  display: flex;
  gap: 48px;
  margin-top: 54px;
}
.blog .blog-item .thumb {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 358px;
  height: 362px;
  border-radius: 24px 24px 0 24px;
  position: relative;
}
.blog .blog-item .thumb img {
  width: 322px;
  height: 296px;
  object-fit: cover;
}
.blog .blog-item .thumb .blog-date {
  color: #fff;
  font-family: "Sora";
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 17px;
  position: absolute;
  top: 24px;
  left: 36px;
}
.blog .blog-item .blog-title {
  margin-top: 28px;
  margin-bottom: 16px;
  color: #000958;
  font-family: "Sora";
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 34px;
}
.blog .blog-item .blog-desc {
  color: #656689;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 24px;
}

.footer {
  padding-bottom: 48px;
  background: rgb(255, 246, 237);
  background: linear-gradient(90deg, rgb(255, 246, 237) 0%, rgb(255, 246, 237) 38%, rgb(255, 250, 245) 38%);
}
.footer .footer-inner {
  display: flex;
  gap: 341px;
}
.footer .left-side {
  margin-top: 114px;
}
.footer form {
  margin-top: 40px;
  position: relative;
}
.footer input {
  width: 268px;
  height: 46px;
  border-radius: 23px;
  border: 1px solid rgba(255, 91, 46, 0.25);
  opacity: 0.6;
  background: #fff;
  padding: 16px 22px;
}
.footer button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  background-color: #ff5b2e;
  box-shadow: 0px 15px 28px -7px rgba(255, 91, 46, 0.3019607843);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 800ms;
}
.footer button img {
  filter: brightness(0) saturate(100%) invert(97%) sepia(13%) saturate(330%) hue-rotate(289deg) brightness(119%) contrast(100%);
}
.footer input:focus + button {
  opacity: 1;
  visibility: visible;
  left: 222px;
}
.footer .follow {
  margin-top: 68px;
  color: #000958;
  font-family: "Sora";
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 20px;
}
.footer .social {
  display: flex;
  gap: 16px;
  margin-top: 16px;
}
.footer .social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 32px;
  border: 1px solid #fff;
  background-color: #fff;
  box-shadow: 0px 16px 28px -10px rgba(211, 132, 53, 0.33);
  transition: all 400ms;
}
.footer .social-link:hover {
  background-color: #e3d4d4;
}
.footer .right-side {
  margin-top: 52px;
}
.footer .row {
  display: flex;
  margin-bottom: 58px;
}
.footer .row:first-child {
  gap: 225px;
}
.footer .row:last-child {
  gap: 137px;
}
.footer .col-title {
  margin-bottom: 14px;
  color: #000958;
  font-family: "Sora";
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 20px;
}
.footer .link,
.footer .contact,
.footer .time {
  color: #656689;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 28px;
}
.footer .copyright {
  text-align: center;
  color: #656689;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 14px;
  opacity: 0.6;
}

/*# sourceMappingURL=styles.css.map */
